<ul class="nav nav-tabs">
    <!-- <li class="nav-item">
      <a class="nav-link "aria-current="page" routerLink="/makemytrip/search" routerLinkActive="active">Route</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/makemytrip/buslist" routerLinkActive="active">Avaliable buses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/makemytrip/seats" routerLinkActive="active">Seat Selection</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/makemytrip/review" routerLinkActive="active">Review</a>
    </li> -->
    <li class="nav-item" *ngFor="let route of routes">
      <a class="nav-link" aria-current="page" routerLink="/makemytrip/{{route | lowercase}}" routerLinkActive="active">{{route}}</a>
    </li>

  </ul>
  <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
        <a  routerLink="/makemytrip/search">Route</a>
      </button>
    </li>
   
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
        <a  routerLink="/makemytrip/buslist">Avaliable buses</a>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
        <a routerLink="/makemytrip/seats">Seat Selection</a>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button  id="disabled-tab" data-bs-toggle="tab"  type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
        <a routerLink="/makemytrip/review">Review</a>
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
  </div> -->