<app-navbar></app-navbar>
<div class="container my-4 border p-3 rounded-1 bg-opacity-10 shadow bg-secondary bg-gradient" >
    <router-outlet></router-outlet>
    <!-- <app-search class="display-6"></app-search> -->
    <!-- <app-bus-list></app-bus-list> -->
    <!-- <app-seat-generate></app-seat-generate> -->
    <!-- <app-user-info></app-user-info> -->
    <!-- <app-bus-ticket></app-bus-ticket> -->
    <app-alert></app-alert>
</div>
    <div>
        <strong>NOTE:</strong>
        <p class="text-danger">
            *please execute development server to make the app full functional<br>
            *use cd db<br>
            *use node db.js to start the development server.<br>
            *!important to use dummu data availabe on server please use destination
            as<span class="highlight"> tirupati or vamulawada.</span> <br>
            *other then this destination paths the server respond with resourse not found error.<br>
        </p>
    </div>
